<!DOCTYPE html>
<html>
<head>
    <title>{{ job.title }} Details</title>
    <!-- Add your CSS stylesheets or links here -->
</head>
<body>
    <h1>{{ job.title }}</h1>
    <p><h2>Company: </h2>{{ job.company.company_name }}</p>
    <p><h2>Description:</h2> {{ job.description }}</p>
    <p><h2>Required Qualifications:</h2> {{ job.required_qualifications }}</p>
    <p><h2>Desired Qualifications:</h2> {{ job.desired_qualifications }}</p>
    <p><h2>Responsibilities:</h2> {{ job.responsibilities }}</p>
    <p><h2>Application Deadline:</h2> {{ job.application_deadline }}</p>
    <p><h2>Salary Range:</h2> {{ job.salary_range }}</p>
    <p><h2>Location:</h2> {{ job.location }}</p>
    <p><h2>Employment Type:</h2> {{ job.employment_type }}</p>
    <p><h2>Company Benefits:</h2> {{ job.company_benefits }}</p>
    <p><h2>How to Apply:</h2> {{ job.how_to_apply }}</p>
    <!-- Add more job details here -->
</body>
</html>
