<!DOCTYPE html>
<html>
<head>
    <title>Manage Job Applications</title>
    <!-- Add your CSS stylesheets or links here -->
</head>
<body>
    <h1>Manage Job Applications</h1>

    <ul>
        {% for job_application in job_applications %}
            <li>
                <strong>{{ job_application.job.title }}</strong> - {{ job_application.user.username }}
                <!-- Add more details as needed -->
                <a href="{% url 'view_job_seeker_profile' job_application.user.id %}" class="button">View Profile</a>
                <a href="{% url 'update_application_status' job_application.id %}" class="button">Update Status</a>

            </li>
        {% empty %}
            <li>No job applications found.</li>
        {% endfor %}
    </ul>

    <button><a href="{% url 'employer_profile' %}">Back to Profile</a></button>

</body>
</html>
